name: Handle Noop Local Releases

on:
  push:
    tags:
      - v*.*.*

jobs:
  build-and-publish:
    name: Build and Publish New Versions of Noop Local
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Noop Local Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Install and Build Inspector Console, Publish to NPM
        uses: actions/setup-node@v1
        with:
          node-version: '12'
      - run: npm run install-console
      - run: npm run build-console
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}